# Proyecto: Manipulación de índices y columnas anidadas.

Veremos cómo extraer nombres de columnas e índices.

Algunas de las funciones epeciales que veremos en este secript son:

`.aggregate()` <-- Permite definir funciones a datos agrupados con 'gruopby()'

`.columns.values` <-- Permite extraer nombres de columnas de un dataframe

`.index.values` <-- Permite extraer nombres de renglons (índices) de un dataframe

`.index.get_level_values(level = ?).values.unique()` <-- permite extraer nombres de índices anidados (correspondientes a un nivel específico)

`.loc[]` <-- Sirve para especificar renglones (índices) al momento de extraer subconjuntos de un dataframe

In [1]:
import pandas as pd

import numpy as np

import seaborn as sns

In [2]:
# importamos datos de seaborn

df = sns.load_dataset('diamonds')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [4]:
# Extraemos el numero de clases de datos en cada variable
df.nunique()

carat        273
cut            5
color          7
clarity        8
depth        184
table        127
price      11602
x            554
y            552
z            375
dtype: int64

In [5]:
# Definimos una función:
def mean_kilo(x):
    return np.mean(x)/1000

## Aplicación de funciones con `.aggregate()`

Cuando aplicamos `.groupby()` a un dataframe, éste va acompañado de una función como: `count()`, `mean()`, `sum()`, etc.,

sin embargo, podemos construir y aplicar funciones más generales usando `.aggregate()` como se muestra a continuación:

Supongamos un dataframe 'df' cuyas columnas son ['c1','c2','c3','c4'].

Si agrupamos con respecto a las columnas ['c1','c2'] y aplicamos un mismo conjunto de funciones `f1(x),...,fn(x)` a las columnas ['c3','c4'], ejecutamos:

`df. groupby(['c1','c2'])[ ['c3','c4'] ].aggregate(f1(x),...,fn(x))`

Si agrupamos con respecto a las columnas ['c1','c2'] y aplicamos un conjunto de funciones `f1(x),...,fn(x)` a la columna ['c3']

y otro conjunto de funciones  `g1(x),...,gk(x)`  a la columna ['c4'], ejecutamos:

`df. groupby(['c1','c2']).aggregate({'c3':[f1(x),...,fn(x)], 'c4':[g1(x),...,gk(x)] })`

In [8]:
# Dataframe original
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [14]:
# Aplicamos un conjunto de funciones a la columna ['price'] y otro conjunto de funciones a la column ['carat']:
df.groupby(['cut','color']) .aggregate({'price':[np.min,np.max] , 'carat':[np.mean,mean_kilo] })

                price            carat
                 amin   amax      mean mean_kilo
cut       color
Ideal     D       367  18693  0.565766  0.000566
          E       326  18729  0.578401  0.000578
          F       408  18780  0.655829  0.000656
          G       361  18806  0.700715  0.000701
          H       357  18760  0.799525  0.000800
          I       348  18779  0.913029  0.000913
          J       340  18508  1.063594  0.001064
Premium   D       367  18575  0.721547  0.000722
          E       326  18477  0.717745  0.000718
          F       342  18791  0.827036  0.000827
          G       382  18741  0.841488  0.000841
          H       368  18795  1.016449  0.001016
          I       334  18823  1.144937  0.001145
          J       363  18710  1.293094  0.001293
Very Good D       357  18542  0.696424  0.000696
          E       352  18731  0.676317  0.000676
          F       357  18777  0.740961  0.000741
          G       354  18818  0.766799  0.000767
          H       337  18803  0.915948  0.000916
          I       336  18500  1.046952  0.001047
          J       336  18430  1.133215  0.001133
Good      D       361  18468  0.744517  0.000745
          E       327  18236  0.745134  0.000745
          F       357  18686  0.775930  0.000776
          G       394  18788  0.850896  0.000851
          H       368  18640  0.914729  0.000915
          I       351  18707  1.057222  0.001057
          J       335  18325  1.099544  0.001100
Fair      D       536  16386  0.920123  0.000920
          E       337  15584  0.856607  0.000857
          F       496  17995  0.904712  0.000905
          G       369  18574  1.023822  0.001024
          H       659  18565  1.219175  0.001219
          I       735  18242  1.198057  0.001198
          J       416  18531  1.341176  0.001341

In [15]:
# Aplicamos un mismo conjunto de funciones a las columnas ['price','carat']:
P = df.groupby(['cut','color'])[ ['price','carat'] ] .aggregate( [np.min, np.mean, np.max, mean_kilo] )
P

                price                               carat                  \
                 amin         mean   amax mean_kilo  amin      mean  amax
cut       color
Ideal     D       367  2629.094566  18693  2.629095  0.20  0.565766  2.75
          E       326  2597.550090  18729  2.597550  0.20  0.578401  2.28
          F       408  3374.939362  18780  3.374939  0.23  0.655829  2.45
          G       361  3720.706388  18806  3.720706  0.23  0.700715  2.54
          H       357  3889.334831  18760  3.889335  0.23  0.799525  3.50
          I       348  4451.970377  18779  4.451970  0.23  0.913029  3.22
          J       340  4918.186384  18508  4.918186  0.23  1.063594  3.01
Premium   D       367  3631.292576  18575  3.631293  0.20  0.721547  2.57
          E       326  3538.914420  18477  3.538914  0.20  0.717745  3.05
          F       342  4324.890176  18791  4.324890  0.20  0.827036  3.01
          G       382  4500.742134  18741  4.500742  0.23  0.841488  3.01
          H       368  5216.706780  18795  5.216707  0.23  1.016449  3.24
          I       334  5946.180672  18823  5.946181  0.23  1.144937  4.01
          J       363  6294.591584  18710  6.294592  0.30  1.293094  4.01
Very Good D       357  3470.467284  18542  3.470467  0.23  0.696424  2.58
          E       352  3214.652083  18731  3.214652  0.20  0.676317  2.51
          F       357  3778.820240  18777  3.778820  0.23  0.740961  2.48
          G       354  3872.753806  18818  3.872754  0.23  0.766799  2.52
          H       337  4535.390351  18803  4.535390  0.23  0.915948  3.00
          I       336  5255.879568  18500  5.255880  0.24  1.046952  4.00
          J       336  5103.513274  18430  5.103513  0.24  1.133215  2.74
Good      D       361  3405.382175  18468  3.405382  0.23  0.744517  2.04
          E       327  3423.644159  18236  3.423644  0.23  0.745134  3.00
          F       357  3495.750275  18686  3.495750  0.23  0.775930  2.67
          G       394  4123.482204  18788  4.123482  0.23  0.850896  2.80
          H       368  4276.254986  18640  4.276255  0.25  0.914729  3.01
          I       351  5078.532567  18707  5.078533  0.30  1.057222  3.01
          J       335  4574.172638  18325  4.574173  0.28  1.099544  3.00
Fair      D       536  4291.061350  16386  4.291061  0.25  0.920123  3.40
          E       337  3682.312500  15584  3.682313  0.22  0.856607  2.04
          F       496  3827.003205  17995  3.827003  0.25  0.904712  2.58
          G       369  4239.254777  18574  4.239255  0.23  1.023822  2.60
          H       659  5135.683168  18565  5.135683  0.33  1.219175  4.13
          I       735  4685.445714  18242  4.685446  0.41  1.198057  3.02
          J       416  4975.655462  18531  4.975655  0.30  1.341176  5.01


                mean_kilo
cut       color
Ideal     D      0.000566
          E      0.000578
          F      0.000656
          G      0.000701
          H      0.000800
          I      0.000913
          J      0.001064
Premium   D      0.000722
          E      0.000718
          F      0.000827
          G      0.000841
          H      0.001016
          I      0.001145
          J      0.001293
Very Good D      0.000696
          E      0.000676
          F      0.000741
          G      0.000767
          H      0.000916
          I      0.001047
          J      0.001133
Good      D      0.000745
          E      0.000745
          F      0.000776
          G      0.000851
          H      0.000915
          I      0.001057
          J      0.001100
Fair      D      0.000920
          E      0.000857
          F      0.000905
          G      0.001024
          H      0.001219
          I      0.001198
          J      0.001341

## Extracción del nombre de columnas y subcolumnas:

In [16]:
# Extracción del nombre de columnas y subcolumnas
P.columns.values

# Podemos accesar a los valores con:
# P.columns.values[0] #  --> ('price', 'amin')
# P.columns.values[0][1] #  --> 'admin'

array([('price', 'amin'), ('price', 'mean'), ('price', 'amax'),
       ('price', 'mean_kilo'), ('carat', 'amin'), ('carat', 'mean'),
       ('carat', 'amax'), ('carat', 'mean_kilo')], dtype=object)

In [17]:
# Extracción del nombre de subcolumnas de una columna:
P['price'].columns.values

# Obtenemos lo mismo si ejecutamos:
# P.price.columns.values

array(['amin', 'mean', 'amax', 'mean_kilo'], dtype=object)

## Extracción del nombre de índices y multíndices:

In [18]:
# Extracción del nombre de índices y multíndices:
P.index.values

array([('Ideal', 'D'), ('Ideal', 'E'), ('Ideal', 'F'), ('Ideal', 'G'),
       ('Ideal', 'H'), ('Ideal', 'I'), ('Ideal', 'J'), ('Premium', 'D'),
       ('Premium', 'E'), ('Premium', 'F'), ('Premium', 'G'),
       ('Premium', 'H'), ('Premium', 'I'), ('Premium', 'J'),
       ('Very Good', 'D'), ('Very Good', 'E'), ('Very Good', 'F'),
       ('Very Good', 'G'), ('Very Good', 'H'), ('Very Good', 'I'),
       ('Very Good', 'J'), ('Good', 'D'), ('Good', 'E'), ('Good', 'F'),
       ('Good', 'G'), ('Good', 'H'), ('Good', 'I'), ('Good', 'J'),
       ('Fair', 'D'), ('Fair', 'E'), ('Fair', 'F'), ('Fair', 'G'),
       ('Fair', 'H'), ('Fair', 'I'), ('Fair', 'J')], dtype=object)

In [19]:
# Extraemos nombres de los índices correspondientes a un nivel específico:
P.index.get_level_values(level='cut').values

['Ideal', 'Ideal', 'Ideal', 'Ideal', 'Ideal', ..., 'Fair', 'Fair', 'Fair', 'Fair', 'Fair']
Length: 35
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [20]:
# Para evitar repetción de valores, agregamos '.unique()'  
P.index.get_level_values(level='cut').values.unique()

['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [21]:
# Extraemos nombres de los índices correspondientes a un nivel específico:
P.index.get_level_values(level='color').values

['D', 'E', 'F', 'G', 'H', ..., 'F', 'G', 'H', 'I', 'J']
Length: 35
Categories (7, object): ['D', 'E', 'F', 'G', 'H', 'I', 'J']

In [22]:
# Para evitar repetción de valores, agregamos '.unique()'  
P.index.get_level_values(level='color').values.unique()

['D', 'E', 'F', 'G', 'H', 'I', 'J']
Categories (7, object): ['D', 'E', 'F', 'G', 'H', 'I', 'J']

## Extracción de subconjutnos especificacdos por columnas

In [23]:
P['price'].head(5)

             amin         mean   amax  mean_kilo
cut   color
Ideal D       367  2629.094566  18693   2.629095
      E       326  2597.550090  18729   2.597550
      F       408  3374.939362  18780   3.374939
      G       361  3720.706388  18806   3.720706
      H       357  3889.334831  18760   3.889335

In [24]:
# Si usamos doble corchete "[[ ]]" se muestra el nombre de la columna superior
P[ ['price'] ].head(5)

            price
             amin         mean   amax mean_kilo
cut   color
Ideal D       367  2629.094566  18693  2.629095
      E       326  2597.550090  18729  2.597550
      F       408  3374.939362  18780  3.374939
      G       361  3720.706388  18806  3.720706
      H       357  3889.334831  18760  3.889335

## Extracción de subconjutnos especificacdos por renglones (uso de `.loc[]` )

In [25]:
P.loc['Very Good']

      price                               carat
       amin         mean   amax mean_kilo  amin      mean  amax mean_kilo
color
D       357  3470.467284  18542  3.470467  0.23  0.696424  2.58  0.000696
E       352  3214.652083  18731  3.214652  0.20  0.676317  2.51  0.000676
F       357  3778.820240  18777  3.778820  0.23  0.740961  2.48  0.000741
G       354  3872.753806  18818  3.872754  0.23  0.766799  2.52  0.000767
H       337  4535.390351  18803  4.535390  0.23  0.915948  3.00  0.000916
I       336  5255.879568  18500  5.255880  0.24  1.046952  4.00  0.001047
J       336  5103.513274  18430  5.103513  0.24  1.133215  2.74  0.001133

In [26]:
# Si usamos doble corchete "[[ ]]" se muestra el nombre del índice superior:
P.loc[['Very Good']]

# Da lo mismo si ejecutamos: 
# P.loc['Very Good',:,:]

                price                               carat                  \
                 amin         mean   amax mean_kilo  amin      mean  amax
cut       color
Very Good D       357  3470.467284  18542  3.470467  0.23  0.696424  2.58
          E       352  3214.652083  18731  3.214652  0.20  0.676317  2.51
          F       357  3778.820240  18777  3.778820  0.23  0.740961  2.48
          G       354  3872.753806  18818  3.872754  0.23  0.766799  2.52
          H       337  4535.390351  18803  4.535390  0.23  0.915948  3.00
          I       336  5255.879568  18500  5.255880  0.24  1.046952  4.00
          J       336  5103.513274  18430  5.103513  0.24  1.133215  2.74


                mean_kilo
cut       color
Very Good D      0.000696
          E      0.000676
          F      0.000741
          G      0.000767
          H      0.000916
          I      0.001047
          J      0.001133

In [27]:
# Extraer una fila específica
P.loc[ 'Very Good' , 'F', :]

                price                              carat                  \
                 amin        mean   amax mean_kilo  amin      mean  amax
cut       color
Very Good F       357  3778.82024  18777   3.77882  0.23  0.740961  2.48


                mean_kilo
cut       color
Very Good F      0.000741

In [28]:
# Extraer una fila específica y una columna especifica
P.loc[ 'Very Good' , 'F', :]['price']

                 amin        mean   amax  mean_kilo
cut       color
Very Good F       357  3778.82024  18777    3.77882

In [29]:
P.loc[ 'Very Good' , 'F', :]['price']['mean_kilo']

cut        color
Very Good  F        3.77882
Name: mean_kilo, dtype: float64